*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 2;
}

:root {
  --c_verde: #006800;
  --c_neutral: #6d8d4f;
  --c_neu_transparent: rgba(55, 109, 45, 0.3);
  background-color: white;

  --f_medium: "Source Serif Pro", serif;
  --f_small: "Cormorant", serif;
}
body {
  max-width: 1440px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: var(--c_neutral);
  font-family: var(--f_small);
  font-size: 1rem;
  font-weight: 300;
}

header,
footer {
  max-width: 100%;
  height: 100%;
  max-height: 100px;
  background-color: transparent;
  color: var(--c_neutral);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  z-index: 3;
  transition: 0.3s;
}
header {
  border-bottom: 4px solid var(--c_neutral);
}
footer {
  border-top: 4px solid var(--c_neutral);
}
header:hover,
footer:hover {
  background-color: var(--c_neutral);
  color: white;
}

header h1 {
  position: relative;
  font-family: var(--f_small);
  font-weight: 700;
  font-size: 2rem;
  margin-left: 40px;
  color: var(--c_verde);
}
header:hover h1 {
  color: white;
}
header h1::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  left: -70px;
  bottom: -7px;

  background-image: url("assets/movies_icon.png");
  background-size: contain;
}
main {
  max-width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video_container {
  padding: 20px 30px;
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel {
  height: 100%;
  width: 100%;
  max-height: 70px;
  padding: 3px;
  margin: 20px;
  display: flex;
  justify-content: stretch;

  box-shadow: 0.7px 0.7px 4.9px rgba(0, 0, 0, 0.2),
    2.2px 2.2px 16.7px rgba(0, 0, 0, 0.2), 10px 10px 72px rgba(0, 0, 0, 0.2);
}
.border_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  padding: 10% 10% 0 10%;
  width: 100%;

  border-left: 3px solid var(--c_neu_transparent);
  border-right: 3px solid var(--c_neu_transparent);
  border-top: 3px solid var(--c_neu_transparent);
}

video {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  border: 12px solid white;
  box-shadow: 3px 3px 8px 2px #1c271b8c;
  margin-bottom: 10px;
  border-bottom: 12px solid rgba(131, 194, 94, 0.5);
  border-right: 12px solid rgba(131, 194, 94, 0.5);
  transition: 0.2s;
  position: relative;
}
video:hover {
  box-shadow: 4px 4px 10px 4px #052e018c;
  cursor: pointer;
}

.onVideo {
  width: 50px;
  height: 50px;
  position: absolute;
  background: none;
  border: none;
  transition: 0.5s;
  opacity: 1;
}
.transparent {
  opacity: 0;
}
video:hover + .onVideo {
  transform: scale(1.8);
  opacity: 1;
}

.onVideo:hover {
  transform: scale(1.8);
  opacity: 1;
  cursor: pointer;
}

.img_onVid {
  width: 100%;
  height: 100%;
  background: none;
  filter: invert(100%);
}

.progress {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  margin: auto;
  border: 2px solid var(--c_neutral);
  background-color: white;

  transition: all 0.2s;
  opacity: 0.8;
  box-shadow: inset 0.7px 0.7px 3px 1px rgba(64, 105, 44, 0.6);
}
.progress:hover {
  opacity: 1;
}
.volume_active {
  height: 90%;
  width: 98%;
  appearance: none;
  background-color: transparent;
  overflow: hidden;
}
.volume_active::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: var(--c_verde);
  width: 10%;
  height: 30px;
  margin-top: -2px;
  box-shadow: -100vw 0 0 100vw var(--c_verde);

  cursor: pointer;
  transition: 0.5s;
}
.volume_active::-webkit-slider-runnable-track {
  width: 100%;
  height: 30px;
  background-color: white;
  border: 2px solid var(--c_neutral);
}

.volume_active::-moz-range-track {
  width: 100%;
  height: 30px;
  background-color: white;
  border: 2px solid var(--c_neutral);
}

.volume_active::-moz-range-thumb {
  -webkit-appearance: none;
  background-color: var(--c_verde);
  width: 10%;
  height: 30px;
  border: none;
  box-shadow: -100vw 0 0 100vw var(--c_verde);
  cursor: pointer;
  transition: 0.5s;
}
.video_active {
  display: inline-block;
  height: 90%;
  width: 99%;
  margin-top: 1px;
  background-color: white;
}

.video_active::-webkit-progress-bar {
  background-color: white;
  border: 2px solid var(--c_neutral);
}
.video_active::-webkit-progress-value {
  background-color: var(--c_verde);
}
.video_active::-moz-progress-bar {
  background-color: var(--c_verde);
  border: 2px solid var(--c_neutral);
}

.main_control {
  width: 70px;
  height: 70px;
  border: none;
  background: none;
  position: relative;
}
.main_control::after {
  display: inline-block;
  content: "";
  width: 90%;
  height: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 10%,
    rgba(73, 143, 53, 0) 100%
  );
  opacity: 0.4;

  z-index: -1;
  transition: all 0.3s;
}

.main_control:hover::after {
  cursor: pointer;
  z-index: 5;
}
.main_control:active {
  transform: scale(0.9);
}
.panel img {
  width: 70px;
  height: 70px;
}
.progress:first-of-type {
  width: 60%;
}
.progress:nth-of-type(2) {
  width: 20%;
}
.footer_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.left_footer {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  gap: 20px;
  align-items: center;
}
footer a {
  color: var(--c_neutral);
  display: block;
  text-decoration: none;
  transition: 0.3s;
}
footer:hover a {
  color: white !important;
}
footer a:hover {
  transform: scale(1.1);
  font-weight: bold;
  color: white;
}
footer:hover a:visited {
  color: white;
}
a:visited {
  color: var(--c_neutral);
}

.rss_link {
  width: 90px;
  height: 90px;

  transition: 0.3s;
}
footer:hover .rss_link {
  filter: invert();
}
.rss_link:hover {
  transform: scale(1.04);
}
