* {
  margin: 0;
  padding: 0;
  z-index: 2;
  box-sizing: border-box;
}
:root {
  background-color: black;
  color: white;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  --gold_color: #bdae82;
  --background-transparent: rgba(0, 0, 0, 0.5);
}

html {
  scroll-behavior: smooth;
}
button.golden {
  width: 220px;
  height: 55px;
  padding: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  border: 0;
  box-sizing: border-box;
  color: black;
  background-color: var(--gold_color);

  transition: 0.5s;
}
button.transparent {
  width: 220px;
  height: 55px;
  padding: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: var(--gold_color);
  background-color: transparent;
  border: 2px solid var(--gold_color);
  box-sizing: border-box;
  transition: 0.5s;
}

button.pressed {
  background-color: var(--gold_color);

  color: black;
}

.pulse:hover {
  color: white;
  cursor: pointer;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
  animation: pulse 1s;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--gold_color);
  }
}

/* -----------body------------ */

.body {
  max-width: 1440px;
  margin: auto;
  background: none;
}

.hero-bg-container {
  width: 100%;
  max-width: 1440px;
  height: 910px;
  margin: auto;

  position: absolute;
  background-image: url("assets/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}
.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 110px;
  padding: 0 20px;
}
.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.section-title {
  width: 50%;
  height: 80px;

  background-image: url("assets/section-title.jpg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  margin: auto;
  margin-bottom: 60px;
}

.title {
  padding: 0 20px;

  display: inline-block;
  height: 80px;
  font-family: Merriweather, serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 80px;
  color: #bdae82;
  background-color: black;
}

h1,
h2 {
  font-family: Merriweather, serif;
  font-weight: 700;
}

/* ---------------tablet-menu------------ */
.tablet-menu {
  display: none;
}
.hamburger {
  display: none;
}
/* ----------header------------- */

header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;

  padding: 18px 20px;
}
header .fotocamera {
  width: 50px;
  height: 50px;

  border: none;
  background: none;
  transition: 0.3s;
}

header .fotocamera:hover {
  cursor: pointer;
  filter: invert(31%) sepia(39%) saturate(253%) hue-rotate(7deg) brightness(93%)
    contrast(92%);
}

.upper-nav {
  margin-left: auto;
  margin-right: 30px;
}
.upper-nav ul {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.upper-nav li {
  list-style-type: none;
}
header nav a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
header nav a:hover {
  cursor: pointer;
  color: var(--gold_color);
}

.lang {
  padding-left: 5px;
  font-weight: 700;
}
.actual {
  color: var(--gold_color);
}
.lang:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--gold_color);
}
.switch-theme {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  transition: 0.3s;
}
.switch-theme:hover {
  cursor: pointer;
  filter: invert(31%) sepia(39%) saturate(253%) hue-rotate(7deg) brightness(93%)
    contrast(92%);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* ------------hero----------- */

.hero {
  width: 100%;
  height: 820px;
  display: block;
}
.hero-content {
  width: 34%;
  height: 40%;
  margin-top: 11%;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
}
.hero-content h1 {
  font-size: 60px;
  line-height: 120px;
}
.hero-content p {
  margin: 10px auto 25px auto;
  line-height: 40px;
}

/* -----------------------skills--------------- */

.skills .content-container {
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}
.skills .skill-item {
  width: 320px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.skill-item img {
  width: 62px;
  height: 50px;
  display: block;
  margin-top: 7px;
}
.skill-item .skill-title {
  font-weight: 700;
  margin: 55px auto 23px auto;
}

.skill-item p {
  text-align: center;
  font-size: 18px;
  line-height: 36px;
  margin: auto 10px;
}

/* ---------------portfolio---------------- */

.portfolio-btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 60px;
}

.portfolio-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.portfolio-content .portfolio-item {
  width: 32%;
}

/* ---------------------video------------------ */

.video .content-container {
  display: flex;
  justify-content: center;
}
.video-content {
  width: 100%;

  height: 705px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("assets/video-player.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.play-btn {
  width: 129px;
  height: 130px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url("assets/Play_Unvisited.svg");
  transition: 0.3s;
}
.play-btn:hover {
  background-image: url("assets/Play_hover.svg");
  cursor: pointer;
}

/* ------------------------ price --------------------- */

.price .content-container {
  flex-direction: row;
  justify-content: space-between;
}

.price-item {
  width: 450px;
  height: 505px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--gold_color);
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}
.price-item *:first-child {
  margin-top: 40px;
  font-family: Merriweather, serif;
  font-size: 28px;
  line-height: 56px;
  font-weight: 700;
}
.price-item *:nth-child(2) {
  margin: 20px;
  font-family: Merriweather, serif;
  font-size: 24px;
  line-height: 48px;
  font-weight: 700;
  color: var(--gold_color);
}
.price-item button {
  margin: 40px;
}

/* --------------------contacts------------------ */
.contacts {
  padding: 0;
}
.contacts .content-container {
  width: 100%;
  height: 700px;
  display: flex;
  background-image: url("assets/contacts-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.contacts form {
  width: 450px;
  margin: 60px 20px auto auto;
  display: flex;
  flex-direction: column;
}
.title-contact {
  font-size: 40px;
  line-height: 80px;
  color: var(--gold_color);
  margin-bottom: 30px;
}
.contacts form :not(.title-contact, button) {
  width: 100%;
  border: 2px solid var(--gold_color);
  background: var(--background-transparent);
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 45px;
  color: var(--gold_color);
  margin: 10px 0;
}
#message {
  height: 100px;
  margin-bottom: 30px;
}
.contacts ::placeholder {
  color: var(--gold_color);
  font-family: Inter, sans-serif;
  font-size: 20px;
  padding-left: 20px;
}
.contacts {
  margin-bottom: 0;
}

/* ---------------------footer----------------- */
footer {
  width: 100%;
  height: 150px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer :first-child {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
footer div:nth-of-type(2) {
  margin-left: 12px;
}

footer li {
  width: 32px;
  height: 32px;
  display: inline-block;
  list-style-type: none;
  transition: 0.3s;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
footer a:hover {
  cursor: pointer;
  color: var(--gold_color);
  filter: invert(31%) sepia(39%) saturate(253%) hue-rotate(7deg) brightness(93%)
    contrast(92%);
}

/***************************************************************************************/
/************************************ screen 768px *************************************/
/***************************************************************************************/

@media (max-width: 768px) {
  .body {
    max-width: 768px;
    overflow-x: hidden;
  }

  /* ----------------------------hamburger-------------------------------- */
  .hamburger {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 5;
  }
  .line {
    background-color: white;
    padding: 2px 2px 1px 2px;
    margin: 1px 0;
    transition: all 0.3s ease-in-out;
  }
  .hamburger:hover {
    cursor: pointer;
  }
  .hamburger:hover .line {
    background-color: var(--gold_color);
  }
  /*-------------------------- hamburger cool animation ------------------------ */

  .is-active .line:nth-child(2) {
    opacity: 0;
  }

  .is-active .line:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
  }

  .is-active .line:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
  }

  /*-------------------------- hamburger cool animation end------------------------ */
  /* ----------------------------hamburger end-------------------------------- */

  /* ----------------------------Hidden tablet menu-------------------------------- */
  .tablet-menu {
    width: 100%;
    max-width: 620px;
    position: fixed;
    top: 0;
    right: -620px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    font-size: 35px;
    line-height: 73px;
    background-color: black;
    z-index: 4;
    transition: all 0.5s ease;
  }
  .tablet-menu li {
    list-style-type: none;
    padding-bottom: 5px;
  }
  .small-nav {
    margin-top: 22%;
    margin-left: 20%;
    margin-right: auto;
  }
  .menu-opened {
    right: 0;
  }
  .blackened {
    z-index: 4 !important;
  }
  .black-cover {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--background-transparent);
    z-index: -1;
    transition: all 0.3s ease-in;
  }

  /* ----------------------------Hidden tablet menu end-------------------------------- */
  .hero-bg-container {
    width: 100%;
    height: 590px;
    background-image: url("assets/bg_768.jpg");
    background-size: cover;
  }
  .section {
    width: 100%;
    margin-bottom: 60px;
  }

  .section-title {
    margin: auto;
    width: 60%;
    margin-bottom: 36px;
    padding: 15px;
  }
  .title {
    font-size: 32px;
    line-height: 40px;
  }

  header {
    width: 100%;
    padding: 18px 50px;
  }
  .upper-nav {
    display: none;
  }
  .switch-lang {
    margin-left: auto;
    margin-right: 20px;
  }

  .hero {
    height: 500px;
    margin-bottom: 80px;
  }
  .hero-content {
    width: 52%;
    margin-top: 9%;
    margin-left: 3%;
    padding: 0 20px;
  }
  .hero-content h1 {
    font-size: 32px;
    line-height: 64px;
    font-weight: 400;
  }
  .hero-content p {
    width: 100%;
    margin: 10px auto 25px auto;
    line-height: 24px;
    margin-bottom: 60px;
  }
  .skills .skill-item {
    width: 320px;
    height: 224px;
    padding: 0 10px;
    margin-bottom: 20px;
  }

  .skill-item p {
    line-height: 21px;
  }

  .portfolio-btns {
    margin: 0 10% 60px 10%;
    flex-wrap: wrap;
  }
  .portfolio-content .portfolio-item {
    width: 58%;

    margin: 0 10%;
  }

  .video-content {
    max-height: 418px;
  }
  .play-btn {
    width: 75px;
    height: 75px;
    background-size: cover;
  }

  .price .content-container {
    flex-direction: column;
  }

  .price-item {
    width: 60%;
    margin-bottom: 50px;
  }
  .contacts .content-container {
    height: 600px;
    background-image: url("assets/contacts_small.jpg");
    justify-content: center;
    align-items: center;
    background-size: auto;
  }
  .contacts form {
    width: 55%;
    height: 429px;
    margin: auto;
  }
  .contacts form :not(.title-contact, button) {
    font-size: 18px;

    line-height: 40px;
  }
  .contacts {
    margin-bottom: 0;
  }
  .title-contact {
    font-size: 40px;
    line-height: 64px;
  }
  footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  footer * {
    line-height: 24px;
  }
  footer div:nth-of-type(2) {
    margin: 10px 0;
  }
  footer nav ul {
    margin-top: 20px;
  }
}

@media (max-width: 420px) {
  button.transparent,
  button.golden {
    width: 160px;
  }
  header {
    padding: 18px 20px;
  }
  .hero-content {
    width: 70%;
    margin-top: 9%;
    margin-left: 3%;
    padding: 0 20px;
  }
  .skill-item {
    width: 320px;
  }
  .title-contact {
    font-size: 28px;
    line-height: 45px;
  }
  .price-item {
    width: 70%;
    margin-bottom: 50px;
  }
}
/* ------------------------light theme--------------- */
.lightTheme {
  background-color: white !important;
  color: black !important;
}
.lines-black {
  background-color: black;
  padding: 2px 2px 2px 2px;
}

.section-titleLight {
  filter: saturate(0%);
}
.light-buttons-transp {
  background-color: var(--gold_color) !important;
  color: black !important;
}
.light-buttons-gold {
  background-color: white !important;
  color: black !important;
}
.light-buttons-transp:hover,
.light-buttons-gold:hover {
  background-color: black !important;
  color: var(--gold_color) !important;
}
.light-pressed {
  background-color: black !important;

  color: var(--gold_color) !important;
}
.aLight {
  color: black;
}
.input-light {
  background: rgba(255, 255, 255, 0.253) !important;
  color: black;
  border-color: black;
}
.input-light::placeholder {
  color: black;
}
