*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

/* :root {
  --c_light: #160b1d;
  --c_medium: #1b0a30;
  --c_bg: #325038;
  --c_accent_purple: #ffcf33;
  --c_accent_purple_dark: #e99f00;
  --c_accent_yellow: #1c0a29;
  --c_yellow_transparent: #1c0a29f3;
  --filter_for_logo:invert(85%) sepia(57%) saturate(3220%) hue-rotate(338deg) brightness(104%) contrast(101%);
  background-image: linear-gradient(to bottom, var(--c_light), var(--c_medium));
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--c_dark);
  --f_big: "Josefin Sans", sans-serif;
  --f_small: "Roboto Slab", serif;
} */
:root {
  --c_light: #ffffff;
  --c_medium: #dbcdff;
  --c_bg: #325038;
  --c_accent_purple: #270a47;
  --c_accent_purple_dark: #1f033d;
  --c_accent_yellow: #ffffa4;
  --c_yellow_transparent: #ffffa4f5;
  --filter_for_logo: invert(10%) sepia(65%) saturate(3453%) hue-rotate(261deg)
    brightness(64%) contrast(104%);
  background-image: linear-gradient(to bottom, var(--c_light), var(--c_medium));
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--c_dark);
  --f_big: "Josefin Sans", sans-serif;
  --f_small: "Roboto Slab", serif;
}
.convex {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
  border-top: 3px solid rgba(255, 255, 255, 0.4);
  border-right: 3px solid rgba(0, 0, 0, 0.6);
  border-bottom: 3px solid rgba(0, 0, 0, 0.6);
  border-left: 3px solid rgba(255, 255, 255, 0.4);
}
body {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--c_accent_purple);
  font-family: var(--f_small);
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  position: relative;
}

button {
  font-family: var(--f_small);
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
header {
  width: 100%;
  height: 80px;
  background: linear-gradient(to bottom, var(--c_light), var(--c_medium));
  border-bottom: 3px solid rgba(61, 38, 97, 0.6);
  box-shadow: 1px 1px 8px rgba(61, 24, 104, 0.6);
}
.container_header {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
h1 {
  text-align: center;
  font-size: 36px;
  line-height: 64px;
  position: relative;
  left: 50px;
  margin-left: 50px;
  font-family: var(--f_big);
  font-weight: 700;
}
.container_header h1::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 40px;
  margin: 10px;
  position: absolute;
  top: -10px;
  left: -80px;
  background-image: url("assets/favicon.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.right_header {
  display: flex;
  justify-content: end;
  gap: 20px;
  align-items: center;
}

.control_btn {
  padding: 10px;
  background: transparent;

  position: relative;
  color: var(--c_accent_purple);
}

.control_btn:hover {
  color: var(--c_accent_purple_dark);
  background: transparent;
  text-shadow: 0 0 1px var(--c_accent_purple);
  cursor: pointer;
}
.control_btn:before,
.control_btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 3px;
  width: 0;
  background: var(--c_accent_purple);
  /*  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002; */
  transition: 0.2s ease all;
}
.control_btn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.control_btn:hover:before,
.control_btn:hover:after {
  width: 100%;
  transition: 0.2s ease all;
}
.control_btn:active {
  transform: scale(0.95);
  color: var(--c_accent_purple_dark);
}

main {
  width: 100%;
  max-width: 1440px;
  height: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.win_container,
.score_container {
  width: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  visibility: hidden;
  border-radius: 10px;
  position: absolute;
  top: 40%;
  left: 50%;
  background-color: var(--c_yellow_transparent);
  z-index: 0;
  transition: all 0.3s;
}
.score_container {
  justify-content: space-between;
}
.congrats {
  width: 90%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-family: var(--f_small);
  font-size: 20px;
}
.congrats p:first-of-type,
.score_container p {
  font-family: var(--f_big);
  font-size: 28px;
  margin: 10px;
  text-decoration: underline;
}
.congrats img {
  width: 70%;
  margin: 20px;
}
.continue_btns {
  width: 100%;
  height: 20%;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.win_container .control_btn {
  background: var(--c_accent_yellow);
}
.win_appear {
  z-index: 4;
  width: 600px;
  height: 500px;
  top: 20%;
  left: 9%;
  padding: 20px;
  visibility: visible;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
}
li {
  margin: 0;
  padding: 4px;
  list-style: none;
}
li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-image: url("assets/li_icon.svg");
  background-repeat: no-repeat;
  position: left center;
  background-size: contain;
}

.game_container {
  width: 746px;
  height: 860px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
}
.card_container {
  width: calc(25% - 20px);
  height: calc(33.33% - 20px);
  position: relative;
  margin: 10px;
  border-radius: 10px;
  z-index: 1;

  transform-style: preserve-3d;
  perspective: 1000px;
  transform: scale(1);
  transition: all 0.3s;

  visibility: visible;
}

.card_front,
.card_back {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  border-radius: 10px;
  backface-visibility: hidden;
}
.card_back {
  padding: 5px;
  background-color: var(--c_bg);
}
.card_front {
  transform: rotateY(-180deg);
  background-color: var(--c_bg);
}

.card_container:active {
  transform: scale(0.95);
}

.invisible {
  transition-duration: 1s;
  opacity: 0;
}
@keyframes move_hover {
  25% {
    transform: rotate(0.5deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0.5deg);
  }
}
.card_back:hover {
  box-shadow: 2px 2px 5px rgba(34, 34, 34, 0.6);
  animation: move_hover 0.2s ease-in-out;
  transform-style: preserve-3d;
}
.openCard {
  transform: rotateY(180deg);
}

footer {
  width: 100%;
  max-width: 1440px;
  padding: 0 30px 15px 30px;
  height: 80px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left_footer * {
  margin-left: 10px;
}
a,
a:visited {
  color: var(--c_accent_purple);
  padding: 5px;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  border-bottom: 2px solid var(--c_accent_purple);
  border-top: 2px solid var(--c_accent_purple);
}
a:active {
  transform: scale(0.9);
  font-size: 18px;
}

.rss_link img {
  width: 60px;
  filter: var(--filter_for_logo);
}

@media (max-width: 768px), (max-height: 910px) {
  .game_container {
    width: 550px;
    height: 640px;
    padding: 5px;
  }
  .right_header {
    gap: 10px;
  }
  .win_appear {
    width: 450px;
    height: 500px;
    top: 10%;
    left: 8%;
    padding: 10px;
    font-size: 16px;
  }
  li:nth-child(-n + 2) {
    display: none;
  }
  h1 {
    font-size: 30px;
    line-height: 58px;
    left: 30px;
  }
  button {
    font-size: 18px;
    line-height: 28px;
  }
  .container_header h1::before {
    width: 50px;
    height: 50px;
  }
}

@media (max-height: 770px), (max-width: 650px) {
  body {
    font-size: 12px;
  }
  .game_container {
    width: 428px;
    height: 502px;
    padding: 3px;
  }
  .card_container {
    margin: 5px;
  }
  .right_header {
    gap: 5px;
  }
  .card_front,
  .card_back {
    padding: 5px;
  }
  h1 {
    font-size: 24px;
    line-height: 44px;
    left: 20px;
  }
  button {
    font-size: 12px;
    line-height: 22px;
  }
  .container_header h1::before {
    width: 40px;
    height: 40px;
  }
  .win_appear {
    width: 400px;
    height: 400px;
    top: 8%;
    left: 2%;
    padding: 5px;
    font-size: 14px;
  }
  li:nth-child(-n + 4) {
    display: none;
  }
  footer {
    height: 40px;
    padding: 0 10px 5px 10px;
  }
}
